/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: #282828;
    color: #eaeaea;
    line-height: 1.6;
    font-size: 16px;
    overflow-x: hidden;
    background-image: url(''); /* Add this line */
    background-size: contain; /* Cover the entire viewport */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */

}

/* Links */
a {
    color: #f4a300; /* Orange accent */
    text-decoration: none;
    transition: color 0.3s ease;
}

    a:hover {
        color: #ffb84d;
    }

/* Main Section */
main {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h2 {
    font-size: 2.5rem;
    color: #ffffff;
    margin-bottom: 20px;
    font-weight: 600;
}

p {
    font-size: 1.1rem;
    color: #dddddd;
    line-height: 1.8;
}

ul {
    list-style-type: none;
}

/* Button Styles */
button {
    background-color: #f4a300;
    color: #111111;
    font-size: 1.1rem;
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn {
    color: white
}

    button:hover {
        background-color: #ffb84d;
    }

.table {
    color: darkorange;
}
