@page "/"
@rendermode InteractiveServer
@inject NavigationManager Navigation

<div class="container-fluid p-5 text-center" style="padding-top: 100px;">
    <main class="d-flex flex-column align-items-center">
        <div class="profile mb-4">
            <img src="images/Alex-profile.png" alt="Profile Picture" class="rounded-circle img-thumbnail backlight">
        </div>
        <div class="text-center mb-4">
            <h1>Alexander Eklöf</h1>
            <h3>Junior DevOps</h3>
            <section class="container text-center d-flex justify-content-center">
                <Social_Links></Social_Links>
            </section>
        </div>
        <div class="about align-content-around mb-4">
            <h5>About me</h5>
            <p>
                Versatile software developer with experience in WPF and Blazor Server, specializing in building intuitive and efficient applications.
                Strong background in C# and .NET, with a keen eye for UI/UX design and structured, maintainable code.
                Currently expanding knowledge in DevOps practices, focusing on automation, CI/CD, and infrastructure as code to bridge development and operations effectively.
                Passionate about optimizing workflows and enhancing software delivery processes.
            </p>
        </div>

        <!-- Buttons -->
        <div class="d-flex justify-content-center">
            <button class="btn" @onclick="NavigateToSkills">Show Skills</button>
            <button class="btn" @onclick="NavigateToProjects">Show Projects</button>
        </div>
    </main>
</div>

@code {
    private void NavigateToSkills()
    {
        Navigation.NavigateTo("/skills");
    }

    private void NavigateToProjects()
    {
        Navigation.NavigateTo("/projects");
    }
}
