@page "/"
@rendermode InteractiveServer
@inject NavigationManager Navigation

<div class="container-fluid p-5 text-center" style="padding-top: 100px;">
    <main class="d-flex flex-column align-items-center">
        <div class="profile mb-4">
            <img src="images/Alex-profile.png" alt="Profile Picture" class="rounded-circle img-thumbnail backlight">
        </div>
        <div class="text-center mb-4">
            <h1>Alexander Eklöf</h1>
            <h3>.NET Cloud Developer</h3>
            <section class="container text-center d-flex justify-content-center">
                <Social_Links></Social_Links>
            </section>
        </div>
        <div class="about align-content-around mb-4">
            <h5>About me</h5>
            <p>
                //Write something good
            </p>
        </div>

        <!-- Buttons -->
        <div class="d-flex justify-content-center">
            <button class="btn" @onclick="NavigateToSkills">Show Skills</button>
            <button class="btn" @onclick="NavigateToProjects">Show Projects</button>
        </div>
    </main>
</div>

@code {
    private void NavigateToSkills()
    {
        Navigation.NavigateTo("/skills");
    }

    private void NavigateToProjects()
    {
        Navigation.NavigateTo("/projects");
    }
}
