@page "/"
@rendermode InteractiveServer


<div class="container-fluid p-5" style="">
    <main class="align-items-center;" style="flex-direction:column;">
        <div class="profile">
            <img src="/Alex-Pic.png" alt="Profile Picture" class="rounded" style="max-width:150px; z-index:0">
        </div>
        <div class="Profile-Name">
            <h1>Alexander Eklöf</h1>
            <h3>Junior DevOps</h3>
        </div>
        <br />
        <div class="about">
            <h5>Wallabilla I'm a Killa'</h5>
            <p>Don't be trippin' over mah skillin'</p>
        </div>


        <!-- Buttons -->
        <button class="btn" @onclick="ToggleSkills">Show Skills</button>
        @if (showSkills)
        {
            <Skills />
        }
        <button class="btn" @onclick="ToggleProjects">Show Projects</button>
        @if (showprojects)
        {
            <Projects />
        }
    </main>

</div>
    <Social_Links></Social_Links>
    


@code {
    private bool showSkills = false;
    private bool showprojects = false;

    private void ToggleSkills()
    {
        showSkills = !showSkills;
    }

    private void ToggleProjects()
    {
        showprojects = !showprojects;    
    }
}