@page "/projects"
@rendermode InteractiveServer
@using Labb3FullstackBlazor.Models
@using Labb3FullstackBlazor.Services
@inject ProjectService ProjectService

<div>
    <h3>Projects</h3>

    @if (projects == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <div class="d-flex flex-wrap">
            @foreach (var project in projects)
            {
                <Cards Project="project" />
            }
        </div>
    }
</div>

@code {
    List<Project> projects;

    protected override async Task OnInitializedAsync()
    {
        projects = await ProjectService.GetProjects();
    }
}

