@page "/skills"
@rendermode InteractiveServer
@using Labb3FullstackBlazor.Models
@using Labb3FullstackBlazor.Services
@inject SkillService SkillService
@inject NavigationManager Nav

<div>
    <h3>Skills</h3>

    @if (skills == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <div class="d-flex flex-wrap">
            @foreach (var skill in skills)
            {
                <Cards Skill="skill" />
            }
        </div>
    }
</div>

<div class="d-flex justify-content-center fixed-bottom py-5">
    <button class="btn" @onclick="NavigateToHome">Home</button>
    <button class="btn" @onclick="NavigateToProjects">Show Projects</button>
</div>

@code {
    List<Skill> skills;

    protected override async Task OnInitializedAsync()
    {
        skills = await SkillService.GetSkills();
    }

    private void NavigateToHome()
    {
        Nav.NavigateTo("/");
    }

    private void NavigateToProjects()
    {
        Nav.NavigateTo("/projects");
    }
}

