@page "/skills"
@rendermode InteractiveServer
@using Labb3FullstackBlazor.Models
@using Labb3FullstackBlazor.Services
@inject SkillService SkillService

<div>
    <h3>Skills</h3>

    @if (skills == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <div class="d-flex flex-wrap">
            @foreach (var skill in skills)
            {
                <Cards Skill="skill" />
            }
        </div>
    }
</div>

@code {
    List<Skill> skills;

    protected override async Task OnInitializedAsync()
    {
        skills = await SkillService.GetSkills();
    }
}

