@page "/skills"
@rendermode InteractiveServer
@using Labb3FullstackBlazor.Models
@using Labb3FullstackBlazor.Services
@inject SkillService SkillService

<h3>Skills</h3>

@if (skills == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Skill Name</th>
                <th>Skill YearsOfExperience</th>
                <th>Skill SkillLevel</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var skill in skills)
            {
                <tr>
                    <td>@skill.Name</td>
                    <td>@skill.YearsOfExperience</td>
                    <td>@skill.SkillLevel</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    
    List<Skill> skills;
    protected override async Task OnInitializedAsync()
    {
        skills = await SkillService.GetSkills();
    }
}